.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
